@media  (max-width: 460px) {
  /* SECTION 1 */
  .section1 {
    padding-top: 20%;
  }
  .section1_heading_box {
    width: 100%;
  }

  .menu {
    width: 50vw;
    
  }
 
  .section1_heading1 {
    font-size: 1.6rem;
  }

  .section1_paragraph1 {
    font-size: 0.85rem;
  
  }

  /* SECTION 2 WHY CHOOSE US */
  .section2_why_choose_us {
    padding-inline: 3%;
    margin: 50px auto;
    line-height: 1.3;
  }

  .section2_heading {
    font-size: 1.6rem;
  }

  .personal_plan {
    font-size: 1.2rem;
  }

  .personal_plan_paragraph {
    font-size: 0.9rem;
  }

  /* SECTION 3 EXPLORE NEW */
  .section3_explore_new {
    margin: 50px auto;
  }

  .explore_box {
    width: 100%;
  }

  .explore_your_heading {
    font-size: 1.6rem;
  }

  .explore_your_paragraph {
    font-size: 0.8rem;
  }

  .button_allservices {
    font-size: 0.9rem;
    width: 40%;
  }

  .cards_photo_box {
    height: 350px;
  }

  .cards_info_box {
    top: 0%;
  }

  .cards_heading {
    margin-top: 11em;
    font-size: 1.2rem;
  }

  .cards_paragraph {
    font-size: 0.85rem;
  }

  /* SECTION 4 OUR TEAM */
  .section4_our_team {
    padding: 8% 3%;
  }
  .our_team_heading {
    font-size: 1.5rem;
   
  }

  .our_team_paragraph {
    font-size: 0.85rem;
  }

  .team1_cover {
    height: 250px;
  }



/* STATISTIC INFO */
.statistic_box1 {
  width: 65%;
}

.globeicon,
.usericon,
.staricon,
.shieldicon {
  
  font-size: 2.5rem;
}

.partner_text  {
  font-size: 2rem;
}

.trusted_text {
  font-size: 0.85rem;
}

/* SECTION 6 HOME */
.section6_home {
  padding: 5% 0 0;
  margin-bottom: 100px;
  flex-direction: column;
}

.section6_photo {
  width: 100%;
}

.unlock_potential_home {
  padding-inline: 3%;
  width: 100%;
}


/* FOOTER */ 

.footer_div1  {
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  place-content: center;
}


/* MEMBERSHIP PAGE */
.section1_membership {
  min-height: 300px;
}
.section2_membership {
  margin: 60px auto;
}



.section1_membership_heading {
  font-size: 1.5rem;
  margin-bottom: 2em;
}

.membership_cards1 {
  min-height: 320px;
}
.service_cards1_photo {
  height: 350px;
}

.membership_heading {
  margin-top: 200px;
}

.cards_info_box2 {
  top: 8%;
}

.testimonials_heading {
  font-size: 1.5rem;
  line-height: 1.5;
}

.tesimonials_box1 {
  padding: 8% 6%;
}

/* SECTION 5 */

.section5_title {
  width: 95%;
}

.find_your_question {
  font-size: 1.6rem;
}

.question_rows_div1 {
  padding: 6%;
}

.question_rows_div1 p {
  line-height: 1.4;
}



/* ABOUT PAGE */
.section1_about {
  row-gap: 20px;
}

.transform_your_body {
  font-size: 1.6rem;
}
.section1_about_photo {
  height: 350px;
}

.button_ourservices {
  width: 50%;
}


/* SECTION 3 ABOUT WATCH */
.section3_about_watch {
  min-height: 300px;
}

.watch_intro {
  padding-top: 130px;
}

.watch_workouts_sessions {
  font-size: 1.4rem;
}

/* SECTION 4 TITLE */
.section4_about {
  margin-bottom: 200px;
}
.section4_title {
  width: 100%;
}

.cards_parent_trainers {
  height: 400px;
  width: 80%;
}

.soc_networks {
  left: 25%;
}

.trainer_info {
  left: 28%;
}

.trainer_name {
  font-size: 1.1rem;
}

.trainer_position {
  font-size: .85rem;
}


/* SECTION 5 UNLOCK YOUR POTENTIAL */
.section5_unlock_potential {
  flex-direction: column;
  place-items: center;
}

  .unlock_your_potential_title  {
    font-size: 1.4rem;
  }
  
  .section5_unlock_photo {
    width: 100%;
  }
  
  .unlock_your_potential {
    width: 100%;
    margin-inline: auto;
   
  }
  
  .unlock_potential_paragarph {
    font-size: 0.9rem;
  }
  
  .button_contact_us {
    font-size: 1rem;
    display: block;
    margin-inline: auto;
    margin-bottom: 20px;
    
  }


  /* BLOG PAGE */
  .article_blog {
   margin: 5em auto;
  }

  .card {
    height: 350px;
  }

  .grid_card_text {
    top: 65%;
  }

  .grid_card_text p {
    font-size: 0.9rem;
  }

.button_load_more {
  font-size: 1rem;
  padding-inline: 3em;
}



  /* CONTACT PAGE */
  .section1_contact {
    padding: 20% 0 0;
  }
  .section1_contact_photo {
    width: 100%;
  }
  .stay_connected_with {
    font-size: 1.5rem;
    width: 70%;
    line-height: 1.4;
  }

 .get_in_touch {
  font-size: 1.6rem;
  line-height: 1.3;
 }

 .phone {
  width: 100%;
 }
 .section2_contact {
  width: 95%;
 }

 .social_media_contact {
  flex-direction: column;
  gap: 30px;
 }

 iframe {
  height: 330px;
 }
}