body {
  background-color: #000c14;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  /* border: 2px solid red; */
}

/* SECTION 1 */

.section1 {
  margin: 0 auto;
  padding: 300px 5%;
  min-height: 600px;
  background-image: url("../photos/Group-Training-Solution-Story-Hero-Slide.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding-inline: 5%;
  min-height: 96px;
  background-color: hsl(204, 100%, 4%, 0.75);
  /* background-color: hsla(188, 87%, 15%, 0.75); */
  max-width: inherit;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.logo_text1 {
  font-size: 2rem;
  font-family: "Orbitron";
  color: #2edaf1;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 3em;
}

ul li a {
  color: white;
  font-family: "Orbitron";
  letter-spacing: 1px;
  transition-duration: 0.5s;
}

.active {
  color: #2edaf1;
}

ul li a:hover {
  color: #2edaf1;
}

.login_box {
  display: flex;
  gap: 1rem;
}

.login_text {
  color: white;
  font-family: "Orbitron";
  transition-duration: 0.5s;
}

.login_icon {
  color: white;
  font-size: 1.2rem;
  transition-duration: 0.5s;
  cursor: pointer;
}

.login_text:hover {
  color: #2edaf1;
}

.login_icon:hover {
  color: #2edaf1;
}

.section1_heading_box {
  padding: 20px 3%;
  border-radius: 10px;
  width: 40%;
  background-color: hsla(188, 87%, 15%, 0.75);
}

.section1_heading1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Orbitron";
  letter-spacing: 1px;
  margin-bottom: 1em;
}

.section1_paragraph1 {
  color: white;
  font-family: "Inter";
  line-height: 1.5;
  margin-bottom: 5em;
}

.button_read_more {
  background-color: hsla(188, 87%, 15%, 0.75);
  box-shadow: 0px 0px 24px 0px
    rgba(45.99999999999999, 217.9999999999999, 255, 0.49) inset;
  color: white;
  font-family: "Orbitron";
  letter-spacing: 1px;
  padding: 15px 40px;
  border: 1.5px solid #2edaf1;
  border-radius: 30px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
  transition-duration: 0.5s;
}

.button_read_more:hover {
  background-color: #2edaf1;
  color: black;
  /* transform: translateY(-10%); */
  transform: scale(1.1);
  overflow: hidden;
}

.section1_watch {
  width: 40%;
  /* border: 2px solid red; */
}

.watch_video {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 2em;
}

.playbutton {
  background-color: hsla(188, 87%, 15%);
  box-shadow: 0px 0px 24px 0px
    rgba(45.99999999999999, 217.9999999999999, 255, 0.49) inset;
  border: 2px solid #2edaf1;
  border-radius: 50%;
  padding: 18px 25px;
  color: white;
  font-size: 1.5rem;
  transition-duration: 0.5s;
}

.playbutton:hover {
  background-color: #2edaf1;
  color: black;
  cursor: pointer;
}

.watch_workouts_text {
  color: white;
  font-size: 1.3rem;
  font-family: "Orbitron";
  letter-spacing: 1px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.watch_workouts_text:hover {
  color: #2edaf1;
}

.watch_video_paragraph {
  background-color: hsla(188, 87%, 15%, 0.75);
  border-radius: 10px;
  padding: 2em 2em;
  color: white;
  font-family: "Inter";
  line-height: 1.2;
  letter-spacing: 0.6px;
}

/* SECTION 2  */
.section2_why_choose_us {
  margin: 150px auto 220px auto;
  /* border-bottom: 2px solid gray; */
  width: 90%;
}

.section2_heading {
  color: white;
  font-family: "Orbitron";
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3em;
}

.span_xfitness_2 {
  color: #2edaf1;
}

.why_choose_article {
  /* border: 2px solid red; */
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.article_card1 {
  margin-bottom: 8em;
  width: 24%;
  padding: 2em 1em;
  background-color: transparent;
  background-image: radial-gradient(at top right, #00e1ff24 0%, #01141d 50%);
  border-width: 1px 1px 1px 1px;
  border: 0.5px solid #ffffff29;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.article_card1:hover {
  background-color: hsla(188, 87%, 15%);
  transform: translateY(-10%);
  border-color: #2edaf1;
}

.dumbell_icon,
.heart_icon,
.runing_icon,
.data_analysys {
  background-color: #2edaf1;
  border-radius: 50%;
  padding: 20px 20px;
  margin-bottom: 1em;
  font-size: 1.5rem;
}

.personal_plan {
  color: white;
  font-size: 1.4rem;
  font-family: "electrolize";
  letter-spacing: 1px;
  margin-bottom: 1em;
}

.personal_plan_paragraph {
  color: #ffffff70;
  font-family: "Inter";
  font-weight: 300;
  line-height: 1.2;
}

.trusted_by_heading {
  border-top: 2px solid #ffffff29;
  padding-top: 100px;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "Orbitron";
  text-align: center;
}

.active_members_span {
  color: #2edaf1;
}

/* SECTION 3 */
.section3_explore_new {
  margin: 200px auto;
  padding-inline: 5%;
  display: flex;
  gap: 12em;
  /* border: 2px solid red; */
}

.explore_box {
  /* border: 2px solid red; */
  width: 30%;
}

.explore_your_heading {
  color: white;
  font-size: 2rem;
  font-family: "Orbitron";
  line-height: 1.2;
  margin-bottom: 1em;
}

.span_routine {
  color: #2edaf1;
}

.explore_your_paragraph {
  color: #ffffff70;
  font-family: "inter";
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 2em;
}

.button_allservices {
  background-color: hsla(188, 87%, 15%, 0.75);
  box-shadow: 0px 0px 24px 0px
    rgba(45.99999999999999, 217.9999999999999, 255, 0.49) inset;
  font-size: 1.1rem;
  color: white;
  font-family: "Orbitron";
  letter-spacing: 1px;
  padding: 15px 35px;
  border: 1.5px solid #2edaf1;
  border-radius: 30px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.button_allservices:hover {
  background-color: #2edaf1;
  color: black;
  transform: scale(1.1);
  overflow: hidden;
}

.section3_cards {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 3em;
  justify-content: space-between;
  /* border: 2px solid red; */
}

.cards_1 {
  width: 47%;
  padding-inline: 4%;
  min-height: 370px;
  border-radius: 10px;
  background-image: url("../photos/neon2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 0.5s;
}

.cards_1:hover {
  transform: scale(1.1);
  overflow: hidden;
}

.cover2 {
  background-image: url("../photos/1.jpeg");
}

.cover3 {
  background-image: url("../photos/neon1.jpeg");
}

.cover4 {
  background-image: url("../photos/inline_image_preview.jpg");
}

.cards_heading {
  color: white;
  font-size: 1.5rem;
  font-family: "Electrolize";
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 200px auto 5px auto;
}
.cards_paragraph {
  color: white;
  font-family: "Electrolize";
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.button_read_more1 {
  border: none;
  background-color: transparent;
  font-family: "Orbitron";
  color: #2edaf1;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 0;
}

/* SECTION 4 OUR TEAM */

.section4_our_team {
  margin: 0 auto;
  background-image: radial-gradient(#00e1ff24 0%, #01141d 80%);
  padding: 5% 5%;
  width: 95%;
  border-width: 1px 1px 1px 1px;
  border: 0.5px solid #ffffff29;
  border-radius: 20px;
}

.our_team_heading {
  color: white;
  font-size: 2.5rem;
  font-family: "Orbitron";
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.span_our_team {
  color: #2edaf1;
}

.our_team_paragraph {
  color: #ffffff70;
  text-align: center;
  width: 40%;
  margin-inline: auto;
  font-family: "Inter";
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 80px;
}

.our_team_box {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  justify-content: space-between;
  margin-bottom: 70px;
}

.team1_cover {
  width: 48%;
  height: 400px;
  border-radius: 20px;
  background-image: url("../photos/training-personal-training-6be157a571dcb729655c27c53369c3c57363f3d0768512b142da09301940f5e7.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.secondteam {
  background-image: url("../photos/personal\ 2.webp");
}

.our_team_about {
  width: 43%;
  margin-inline: auto;
  background-color: #01141d;
  border-width: 1px 1px 1px 1px;
  border: 0.5px solid #ffffff29;
  border-radius: 10px;
  padding: 4%;
  transition-duration: 0.5s;
}

.our_team_about:hover {
  overflow: hidden;
  transform: scale(1.1);
}

.team_about {
  font-size: 2rem;
  color: white;
  font-family: "Electrolize";
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 15px;
  text-align: center;
}

.span_training {
  color: #2edaf1;
}

.team_about_paragraph {
  text-align: center;
  color: #ffffff70;
  font-family: "Inter";
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 2em;
}

.view_details_box {
  display: flex;
  align-items: center;
  place-content: center;
}

.button_view_details {
  border-style: none;
  background-color: inherit;
  color: #2edaf1;
  font-size: 1.1rem;
  font-family: "Orbitron";
  letter-spacing: 1px;
  cursor: pointer;
}

.arrowright {
  color: #2edaf1;
  cursor: pointer;
  transition-duration: 0.5s;
}

.button_view_project {
  background-color: hsla(188, 87%, 15%, 0.75);
  box-shadow: 0px 0px 24px 0px
    rgba(45.99999999999999, 217.9999999999999, 255, 0.49) inset;
  font-size: 1.1rem;
  color: white;
  font-family: "Orbitron";
  letter-spacing: 1px;
  padding: 15px 35px;
  border: 1.5px solid #2edaf1;
  border-radius: 30px;
  cursor: pointer;
  transition-duration: 0.5s;
  display: block;
  margin-inline: auto;
}
.button_view_project:hover {
  background-color: #2edaf1;
  color: black;
  transform: translateY(-15%);
  /* transform: scale(1.1); */
  overflow: hidden;
}

/* SECTION 5 STATISTIC*/
.section5_statistic_info {
  margin: 200px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
}

.statistic_box1 {
  width: 22%;
  padding-inline: 1%;
  display: flex;
  gap: 20px;
  align-items: center;
  border-right: 1px solid #ffffff29;
}

.fourth {
  border-style: none;
}

.globeicon,
.usericon,
.staricon,
.shieldicon {
  color: #2edaf1;
  font-size: 3.5rem;
}

.partner_text {
  font-size: 2.5rem;
  color: white;
  font-family: "Orbitron";
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.span_plus {
  color: #2edaf1;
  font-weight: bold;
  font-size: 2.2rem;
}

.trusted_text {
  color: #ffffff70;
  font-size: 1.1rem;
  font-family: "Inter";
  font-weight: 300;
}

.section6_home {
  margin: 0 auto 150px;
  background-image: radial-gradient(#00e1ff24 0%, #01141d 80%);
  display: flex;
  justify-content: space-between;
}

.section6_photo {
  width: 40%;
  height: 450px;
  background-image: url("../photos/ai-cyborg-robot-running-smartphone-screen-hand-physical-condition-data-3d-illustration_76964-5133\ Background\ Removed.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* FOOTER */

footer {
  margin: 0 auto;
  padding: 2% 5% 5% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_div1 {
  display: flex;
  gap: 30px;
}

.footer_div1 a {
  color: white;
  font-family: "Orbitron";
  letter-spacing: 1px;
  transition-duration: 0.5s;
}

.footer_div1 a:hover {
  color: #2edaf1;
}

.logo_footer {
  font-size: 2rem;
  font-family: "Orbitron";
  color: #2edaf1;
  cursor: pointer;
}

.social_networks {
  display: flex;
  gap: 15px;
}

.facebook,
.twitter,
.instagram,
.youtube {
  color: white;
  border: 1px solid #2edaf1;
  border-radius: 50%;
  padding: 12px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.facebook:hover {
  background-color: #2edaf1;
  color: black;
  transform: scale(0.9);
}

.twitter:hover {
  background-color: #2edaf1;
  color: black;
  transform: scale(0.9);
}

.instagram:hover {
  background-color: #2edaf1;
  color: black;
  transform: scale(0.9);
}

.youtube:hover {
  background-color: #2edaf1;
  color: black;
  transform: scale(0.9);
}

/* MEMBERSHIP PAGE */
.section1_membership {
  margin: 0 auto;
  padding: 300px 5%;
  min-height: 500px;
  background-image: url("../photos/room6.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.section1_membership_heading {
  color: white;
  font-family: "Orbitron";
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 25px;
}

.membership_plan {
  color: #2edaf1;
}

.membership_paragraph {
  width: 50%;
  margin-inline: auto;
  text-align: center;
  color: white;
  font-family: "Inter";
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 60px;
}

/* SECTION 2 MEMBERSHIP  */
.section2_membership {
  margin: 150px auto 200px auto;
  padding-inline: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.membership_cards1 {
  width: 32%;
  padding-inline: 5%;
  min-height: 430px;
  background-image: url("../photos/cards10.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  transition: 0.5s;
}

.membership_cards1:hover {
  overflow: hidden;
  transform: scale(1.05);
}

.cover11 {
  background-image: url("../photos/cards15.jpeg");
}

.cover12 {
  background-image: url("../photos/cover5.jpeg");
}

.cover13 {
  background-image: url("../photos/booxroom3.jpeg");
}

.cover14 {
  background-image: url("../photos/room5.jpeg");
}

.cover15 {
  background-image: url("../photos/room6.jpeg");
}

.membership_heading {
  margin-top: 280px;
}

/* testimonial heading */
.testimonials_heading {
  color: white;
  font-size: 2.5rem;
  font-family: "Orbitron";
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 70px;
}

.people_say {
  color: #2edaf1;
}

/* SECTION 3 STATISTIC/ MEMBERSHIP  */
.section3_statistic_info {
  margin: 0px auto 200px auto;
  width: 90%;
  padding: 7% 1%;
  display: flex;
  justify-content: space-between;
  background-image: radial-gradient(#00e1ff24 0%, #01141d 80%);
  border-width: 1px 1px 1px 1px;
  border: 0.5px solid #ffffff29;
  border-radius: 20px;
}

/* SECTION 4 TESTIMONIALS */
.section4_testimonials_membership {
  margin: 0 auto 200px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.tesimonials_box1 {
  width: 32%;
  padding: 3% 4%;
  background-color: transparent;
  background-image: radial-gradient(at top right, #00e1ff24 0%, #01141d 50%);
  border-width: 1px 1px 1px 1px;
  border: 0.5px solid #ffffff29;
  border-radius: 20px;
  transition: 1s;
}

.tesimonials_box1:hover {
  background-color: hsla(188, 87%, 15%);
  transform: translateY(-10%);
  border-color: #2edaf1;
}

.testimonials_feedback_text {
  color: #ffffff70;
  font-size: 1.2rem;
  font-style: italic;
  font-family: "Inter";
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.4;
  margin: 80px 0 50px 0;
}

.span_quotes {
  color: #2edaf1;
}
.user_account_box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user_photo_box {
  width: 60px;
  height: 60px;
}

.user_photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user_name {
  color: white;
  font-family: "Electrolize";
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.user_position {
  color: #ffffff70;
  font-size: 0.8rem;
  font-family: "Inter";
  letter-spacing: 1px;
}

/* SECTION 5 Heading */
.section5_title {
  width: 40%;
  margin: 0 auto 100px;
  /* border: 2px solid red; */
}

.find_your_question {
  color: white;
  font-size: 2.5rem;
  font-family: "Orbitron";
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.span_question {
  color: #2edaf1;
}

.find_your_paragraph {
  color: #ffffff70;
  font-size: 1rem;
  font-family: "Inter";
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
}

/* SECTION 5 QUESTIONS  */
.section5_questions {
  margin: 0 auto 200px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-between;
}

.question_rows_div1 {
  width: 48%;
  padding: 2% 4%;
  background-color: transparent;
  background-image: radial-gradient(at top right, #00e1ff24 0%, #01141d 50%);
  border-width: 1px 1px 1px 1px;
  border: 0.5px solid #ffffff29;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}

.question_rows_div1:hover {
  background-color: hsla(188, 87%, 15%, 0.75);
  border-color: #2edaf1;
}

.question_1 {
  color: white;
  font-family: "Orbitron";
  letter-spacing: 1.5px;
}

.span_xfitness {
  color: #2edaf1;
}

.down_icon {
  color: #2edaf1;
}

/* ABOUT PAGE */
.section1_about {
  margin: 0 auto;
  padding: 250px 5% 150px;
  background-image: radial-gradient(#00e1ff24 0%, #01141d 80%);
  display: flex;
  gap: 100px;
}

.section1_about_photo {
  width: 50%;
  height: 600px;
  border-radius: 20px;
  background-image: url("../photos/cards10.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.transform_your_body {
  /* margin-top: 150px; */
  color: white;
  font-size: 2.7rem;
  font-family: "Orbitron";
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-top: 100px;
}

.transform_box {
  width: 40%;
}

.span_fitness_experts {
  color: #2edaf1;
}

.fitness_experts_paragraph {
  color: #ffffff70;
  font-family: "Inter";
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.3;
  margin: 30px 0 50px;
}

/* ARTICLE OUR STORY AND VISION */
.article1_story {
  margin: 200px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
}

.article_column {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.article1_heading {
  color: white;
  font-size: 2.7rem;
  font-family: "Orbitron";
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5;
}

.span_inovative_methods {
  color: #2edaf1;
}

.article_parragraph {
  color: #ffffff70;
  font-family: "Inter";
  font-weight: 200;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.3;
}

.our_mission_div {
  padding: 6%;
  background-color: transparent;
  background-image: radial-gradient(at top right, #00e1ff24 0%, #01141d 50%);
  border-width: 1px 1px 1px 1px;
  border: 0.5px solid #ffffff29;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  transition: 0.5s;
}

.our_mission_div:hover {
  background-color: hsla(188, 87%, 15%);
  border-color: #2edaf1;
  cursor: pointer;
}

.aim_icon {
  font-size: 2rem;
  background-color: #2edaf1;
  padding: 20px;
  border-radius: 50%;
  display: block;
}

.our_mission_heading {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family: "Orbitron";
  margin-bottom: 10px;
}

.our_mission_paragraph {
  color: #ffffff70;
  font-family: "Inter";
  font-weight: 200;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.3;
}

.article1_photo_box {
  width: 45%;
  height: 680px;
  border-radius: 20px;
  background-image: url("../photos/Group-Training-Solution-Story-Hero-Slide.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* SECTION REPEAT WHY CHOOSE US */
.why_choose_heading2 {
  margin: 100px auto 150px;
}
.whychoose_second {
  margin: 0 auto;
  width: 90%;
}

/* SECTION 3 ABOUT WATCH */
.section3_about_watch {
  /* border: 2px solid red; */
  margin: 0 auto 150px;
  height: 650px;
  background-image: url("../photos/LMNZ_Taranaki-street_01-841_Cycle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.watch_intro {
  padding-top: 280px;
  flex-direction: column;
  row-gap: 40px;
}

.watch_workouts_sessions {
  color: white;
  font-size: 2rem;
  font-family: "Orbitron";
}

.span_workout_sessions {
  color: #2edaf1;
}

/* SECTION 4 */
.section4_title {
  width: 55%;
  padding-inline: 30px;
  margin: 0 auto 60px;
}

.section4_heading {
  color: white;
  font-size: 2.5rem;
  font-family: "Orbitron";
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
}

.section4_paragraph {
  color: #ffffff70;
  font-family: "Inter";
  font-weight: 100;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.3;
  text-align: center;
}

.section4_about {
  margin: 0 auto 300px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  position: relative;
}

.cards_parent_trainers {
  width: 32%;
  height: 550px;
  border-radius: 20px;
  background-image: url("../photos/personal1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  /* border: 2px solid  red; */
}

.trainer2_photo {
  background-image: url("../photos/1.+Train+with+Damla.jpg");
}

.trainer3_photo {
  background-image: url("../photos/Steven-Tinoco.jpg");
}

.cards_overlay {
  width: 100%;
  background-color: #01141dde;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: 1s ease;
}

.cards_parent_trainers:hover .cards_overlay {
  height: 100%;
}

.soc_networks {
  display: flex;
  gap: 15px;
  position: absolute;
  top: 83%;
  left: 30%;
}

.trainer_info {
  /* border: 2px solid red; */
  left: 30%;
  top: 110%;
  position: absolute;
}

.trainer_name {
  color: white;
  font-size: 1.2rem;
  font-family: "Orbitron";
  letter-spacing: 1px;
  margin-bottom: 0.8em;
}

.trainer_position {
  text-align: center;
  color: #ffffff70;
  font-family: "Inter";
  font-weight: 200;
  letter-spacing: 1px;
}

/* SECTION 5 UNLOCK POTENTIAL */
.section5_unlock_potential {
  margin: 0 auto 150px;
  background-image: radial-gradient(#00e1ff24 0%, #01141d 80%);
  display: flex;
  padding-inline: 1%;
}

.section5_unlock_photo {
  /* border: 2px solid red; */
  width: 52%;
  /* border: 2px solid red; */
  background-color: inherit;
  height: 450px;
  background-image: url("../photos/online-personal-trainer-showing-demonstrating-fitness-exercise-KFDFNB\ Background\ Removed.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.unlock_your_potential {
  width: 48%;
  margin-top: 100px;
}

.unlock_your_potential_title {
  color: white;
  font-size: 2.1rem;
  font-weight: bold;
  font-family: "Orbitron";
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.span_science_based {
  color: #2edaf1;
}

.unlock_potential_paragarph {
  color: #ffffff70;
  font-family: "Inter";
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.button_contact_us {
  background-color: hsla(188, 87%, 15%, 0.75);
  box-shadow: 0px 0px 24px 0px
    rgba(45.99999999999999, 217.9999999999999, 255, 0.49) inset;
  color: white;
  font-size: 1.1rem;
  font-family: "Orbitron";
  letter-spacing: 1px;
  padding: 15px 40px;
  border: 1.5px solid #2edaf1;
  border-radius: 30px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.button_contact_us:hover {
  background-color: #2edaf1;
  color: black;
  transform: translateY(-10%);
  overflow: hidden;
}

/* CONTACT PAGE */
.section1_contact {
  margin: 0 auto 150px;
  padding: 100px 2%;
  background-image: radial-gradient(#00e1ff24 0%, #01141d 80%);
  display: flex;
}

.section1_contact_photo {
  width: 31%;
  height: 450px;
  background-image: url("../photos/sciencebo3\ Background\ Removed.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: 2px solid red; */
}

.stay_connected_with {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Orbitron";
  letter-spacing: 1px;
  margin-top: 200px;
}

.span_connected {
  color: #2edaf1;
}

/* SECTION 2 CONTACT */

.section2_contact {
  margin: 0 auto 200px;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  width: 90%;
}

.get_in_touch_box {
  width: 45%;
  /* border: 2px solid red; */
}

.get_in_touch {
  color: white;
  font-size: 2.3rem;
  font-weight: bold;
  font-family: "Orbitron";
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 50px;
}

.office_location_div {
  padding: 5% 4% 0;
  background-color: transparent;
  background-image: radial-gradient(at top right, #00e1ff24 0%, #01141d 50%);
  border-width: 1px 1px 1px 1px;
  border: 0.5px solid #ffffff29;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  transition: 0.5s;
}

.office_location_div:hover {
  background-color: hsla(188, 87%, 15%);
  border-color: #2edaf1;
}

.location_icon {
  background-color: #2edaf1;
  border-radius: 50%;
  padding: 15px 20px;
  margin-bottom: 1em;
  font-size: 2rem;
}

.office_location_text {
  color: white;
  font-size: 1.1rem;
  font-family: "Orbitron";
  letter-spacing: 1px;
  margin: 5px 0 15px;
}

.office_adress {
  color: #ffffff70;
  font-family: "Inter";
  font-weight: 200;
  letter-spacing: 1px;
}

.call_and_email {
  padding: 2%;
  display: flex;
  border-bottom: 1px solid #2edaf1;
  /* border: 2px solid red; */
}

.phone {
  width: 50%;
  /* border: 2px solid green; */
  display: flex;
  gap: 10px;
  padding: 2% 1% 0;
}

.phone_icon {
  background-color: #2edaf1;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 1em;
  font-size: 2rem;
}

.email_icon {
  background-color: #2edaf1;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 1em;
  font-size: 2rem;
}

.social_media_contact {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.social_media_title {
  color: white;
  font-size: 1.2rem;
  font-family: "Orbitron";
  letter-spacing: 1px;
}

form {
  width: 45%;
  padding: 5% 4% 0;
  background-color: transparent;
  background-image: radial-gradient(at top right, #00e1ff24 0%, #01141d 50%);
  border-width: 1px 1px 1px 1px;
  border: 0.5px solid #ffffff29;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

form:hover {
  border-color: #2edaf1;
}

input {
  background-color: inherit;
  padding: 20px;
  border-width: 1px 1px 1px 1px;
  border: 1px solid #ffffff29;
  border-radius: 10px;
  outline: none;
  color: white;
  font-family: "Inter";
  font-family: 300;
}

input:hover {
  background-color: hsla(188, 87%, 15%);
  border-color: #2edaf1;
}

::placeholder {
  font-family: "Inter";
  font-weight: 200;
}

textarea {
  padding: 5%;
  background-color: inherit;
  border-width: 1px 1px 1px 1px;
  border: 1px solid #ffffff29;
  border-radius: 10px;
  outline: none;
  color: white;
  font-family: "Inter";
  font-family: 300;
}

textarea:hover {
  border-color: #2edaf1;
  background-color: hsla(188, 87%, 15%);
}

.button_send_message {
  background-color: hsla(188, 87%, 15%, 0.75);
  box-shadow: 0px 0px 24px 0px
    rgba(45.99999999999999, 217.9999999999999, 255, 0.49) inset;
  color: white;
  font-family: "Orbitron";
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding: 15px 40px;
  border: 1.5px solid #2edaf1;
  margin-bottom: 30px;
  cursor: pointer;
}

.button_send_message:hover {
  background-color: #2edaf1;
  color: black;
}

iframe {
  margin: 0 auto 150px;
  width: 90%;
  display: block;
  height: 500px;
  border-radius: 20px;
}
